<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>Add Vehicle</title>
</head>
<body>
    <div layout:fragment="content">
    
    <div class="panel panel-primary">
		 <div class="panel-body">
    
	       <h4><i class="fa fa-car" aria-hidden="true"></i> Add Vehicle</h4>
	        <form class="form-signin" th:action="@{/vehicle/add}" th:object="${vehicle}" method="post">
	            
	
	            <input type="text" th:field="*{regNumber}" class="form-control top" placeholder="Registration Number" required="required" autofocus="autofocus"/>
	            <input type="text" th:field="*{chassisNumber}" class="form-control middle" placeholder="Chassis Number"/>
	            	<input type="text" th:field="*{make}" class="form-control middle" placeholder="Make eg, Toyota"/>
	            	<input type="text" th:field="*{model}" class="form-control middle" placeholder="Model eg, Corrolla"/>
	            	<input type="text" th:field="*{colour}" class="form-control middle" placeholder="Colour eg, Blue"/>
	            
	
	           
	            
	            <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Add Vehicle</button>
	            
	            <p class="alert alert-success" th:if="${#httpServletRequest.getParameter('updated')}">You changes have been saved</p>
	        </form>
        </div>
       </div>
        
        
    </div>
</body>
</html>